<!DOCTYPE html>
<html>
<head>
  <title>Record Store</title>
</head>
<body>
<main>
  <nav>
<a href="/inventory">Inventory</a>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
